fastapi
uvicorn[standard]
httpx
python-jose[cryptography]
pydantic-settings
slowapi
groq
tiktoken
alembic
slowapi
bcrypt==4.0.1
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pytest
pytest-asyncio
pydantic
passlib
pydantic[email]